<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>关于我</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{css/me.css}">
</head>
<body>
    <!--导航-->
    <nav th:replace="_fragments :: menu(5)"></nav>

    <!--中间内容-->
    <div  class="m-container m-padded-tb-big animated fadeIn">
       <div class="ui container">
           <div class="ui stackable grid">
               <div class="seven wide column">
                   <div class="ui segment center aligned">
                       <img src="https://unsplash.it/100/100?image=1005" th:src="@{'/proxy-image?url=' + ${avatar}}"  alt="图片加载失败" class="ui rounded fluid image">
                   </div>
               </div>
               <div class="seven wide column">
                   <div class="ui top attached segment">
                       <div class="ui teal header">关于我</div>
                   </div>
                   <div class="ui attached segment">
                       <p class="m-text">
                           嘿，你好。我是大C，独立开发者，终身学习者。
                       </p>
                   </div>
                   <div class="ui center aligned  ned padded attached segment">
                       <a class="ui teal tag label m-margin-tb-tiny">编程</a>
                       <a class="ui yellow tag label m-margin-tb-tiny">写作</a>
                       <a class="ui red tag label m-margin-tb-tiny">音乐</a>
                       <a class="ui black tag label m-margin-tb-tiny">电影</a>
                       <a class="ui purple tag label m-margin-tb-tiny">旅游</a>
                   </div>
                   <div class="ui center aligned attached segment">
                       <div class="ui teal basic left pointing label m-margin-tb-tiny">Java</div>
                       <div class="ui teal basic left pointing label m-margin-tb-tiny">JaveScript</div>
                       <div class="ui teal basic left pointing label m-margin-tb-tiny">Cs</div>
                       <div class="ui teal basic left pointing label m-margin-tb-tiny">Js</div>
                       <div class="ui teal basic left pointing label m-margin-tb-tiny">Sping</div>
                       <div class="ui teal basic left pointing label m-margin-tb-tiny">...</div>
                   </div>
                   <div class="ui bottom center aligned attached segment">
                       <a href="https://github.com/Totoro2525" target="_blank" class="ui github circular icon button"><i class="teal github icon"></i></a>
                       <a class="ui wechat circular icon button" style="z-index: 1 !important;"><i class="teal weixin icon"></i></a>
                       <a class="ui qq circular icon button" data-content="请添加QQ：714529684"><i class="teal qq icon"></i></a>
                       <a href="mailto:714529684@qq.com" target="_blank" class="email ui mail circular icon button" data-content="点击发送Email给我"><i class="teal mail icon"></i></a>
                   </div>
                   <div class="ui wechat-qr flowing popup transition hidden">
                       <img src="../static/images/qrcode.jpg" th:src="@{/images/qrcode.jpg}" alt="图片加载失败" class="ui rounded image" style="width: 120px">
                   </div>
               </div>
           </div>
       </div>
    </div>
    <br>
    <br>

    <!--底部footer-->
    <footer th:replace="_fragments :: footer"></footer>
<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.yy').popup();
    $('.weixin').popup();
    $('.qq').popup();
    $('.email').popup();
    $('.wechat').popup({
        popup : $('.wechat-qr'),
        position: 'bottom center'
    });
</script>
</body>
</html>